/****************************************************

	GENERAL STYLES

****************************************************/

body {
	background-color: #EFEDF2;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	color: #ED6A4C;
}




/****************************************************

	STYLING THE LOGO

****************************************************/

header {
	padding-bottom: 40px;
}

img {
	border: 1px dotted #ED6A4C;
	width: 75px;
	height: 75px;
}



/****************************************************

	STYLING THE LINKS

****************************************************/

a {
	color: #ED6A4C;
}
a:hover {
	text-decoration: line-through;
	color: #F2C206;
	text-shadow: 2px 2px 3px #FFE380;
}
a:visited {
	color: ##ED6A4C;
}

a img:hover {
	border: 2px solid #F2C206;
}




/****************************************************

	STYLING THE CONTENT

****************************************************/

/* Lorem content */
.generated {
	width: 50%;
	border: black dotted 1px;
	margin-left: 25%;
	padding: 15px;
}

/* Randusr content */
.users_out {
	width: 40%;
	border: black dotted 1px;
	margin-left: 30%;
	padding: 15px;
	text-align: left;	
}


